@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Original+Surfer&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.b-header.is-open .b-header-background {
  left: 0;
}
.b-header-button-wrapper {
  margin-left: auto;
}
.b-header-icon {
  display: none;
}

.b-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.b-navigation-list.is-open {
  right: 0;
}
.b-header-icon-menu {
  display: block;
}

.b-header-icon-button.is-open .b-header-icon-menu {
  display: none;
}

.b-header-icon-button.is-open .b-header-icon-close {
  display: block;
}

.b-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
}
.b-title-img {
  width: 52px;
  height: 41px;
}
.b-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.b-header.is-open .b-header-background {
  left: 0;
}
.b-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b-header-icon-menu {
  display: block;
}

.b-header-icon-button.is-open .b-header-icon-menu {
  display: none;
}

.b-header-icon-button.is-open .b-header-icon-close {
  display: block;
}

.b-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.b-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 4px 10.4px 0px rgba(61, 61, 61, 0.25);
}

.b-navigation-list.is-open {
  right: 0;
}

.b-navigation-link {
  font-family: Lato;
  font-weight: 500;
  font-size: 20px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.b-navigation-link:hover,
.b-navigatioт-link:focus {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
}

.b-header.is-open {
  background-color: transparent;
}

.b-navigation-img {
  display: none;
}

@media screen and (min-width: 1202px) {
  .b-navigation-img {
    display: flex;
    width: 96px;
    height: 75px;
  }
  .b-policy-terms-header-icon-menu {
    display: none;
  }

  .b-header {
    width: 100%;
    height: 108px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  }

  .b-header-background {
  }
  .b-header-icon-button {
    display: none;
  }
  .b-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .b-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 16px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .b-navigation-link {
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 0 10px;
    text-decoration: none;
  }
  .b-navigation-link:hover,
  .b-navigatioт-link:focus {
    font-family: Lato;
    font-weight: 700;
    font-size: 26px;
  }
  .b-navigation-item-desk {
    display: none;
  }
}
.b-home {
  width: 375px;
  height: 809px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 284\ \(1\).png");
  margin: auto;
}
.b-home-container {
  width: 375px;
  padding: 179px 44px 0px;
  margin: auto;
}

.b-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.b-home-title {
  font-family: Original Surfer;
  font-weight: 400;
  font-size: 24px;
}

.b-home-google-button-image {
  width: 270px;
  height: 60px;
  margin: 10px auto 0;
}
.b-home-google-button-link {
  margin: auto;
}
.b-home-google-button-link:hover .b-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1202px) {
  .b-home {
    width: 1440px;
    height: 1020px;
    background-image: url("/img/home/Frame\ 285.png");
  }
  .b-home-container {
    width: 1440px;
    padding: 359px 140px 0px;
  }
  .b-home-container-top {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 567px;
  }

  .b-home-title {
    font-family: Original Surfer;
    font-weight: 400;
    font-size: 36px;
  }
  .b-home-google-button-link {
    margin: 0;
    margin-top: 14px;
  }
}

.b-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}
.b-why-listss {
  display: none;
}
.b-why-lists {
  display: none;
}
.b-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.b-why-item {
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 40px;
  padding-top: 29px;
  padding-right: 37px;
  padding-bottom: 29px;
  padding-left: 37px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(238, 235, 238, 1);
  box-shadow: 0px 4px 16.3px 0px rgba(31, 29, 31, 0.23);
}

.b-why-item-q {
  background: rgba(220, 241, 255, 1);
  border: 1px solid rgba(238, 235, 238, 1);
}
.b-why-img {
  width: 75px;
  height: 75px;
}
.b-why-text-bold {
  font-family: Lato;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.b-why-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  padding-top: 16px;
}

@media screen and (min-width: 1202px) {
  .b-why-container {
    width: 1440px;
    margin: auto;
    padding: 120px 108px 0;
  }
  .b-why-listss {
    display: flex;
    padding-top: 12px;
  }
  .b-why-lists {
    display: flex;
    padding-top: 36px;
  }
  .b-why-list {
    display: none;
  }
  .b-why-item {
    width: 512px;
    height: 190px;
    border-radius: 40px;
    padding-top: 29px;
    padding-right: 37px;
    padding-bottom: 29px;
    padding-left: 37px;
    margin: 12px;
  }

  .b-why-text-bold {
    font-size: 24px;
  }
  .b-why-text {
    font-size: 24px;
  }
}

.b-about-container {
  width: 375px;
  padding: 80px 20px 0px;
  margin: auto;
}
.b-about-title {
  font-family: Original Surfer;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.b-about-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1202px) {
  .b-about-container {
    width: 1440px;
    padding: 90px 150px 0;
  }
  .b-about-title {
    font-family: Original Surfer;
    font-weight: 400;
    font-size: 36px;

    text-align: center;
  }
  .b-about-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 48px;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
  }
}

.b-how-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}

.b-how-div {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.b-how-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.b-how-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.b-how-img {
  width: 52px;
  height: 53px;
}

.b-how-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
}
.b-how-image {
  width: 277px;
  height: 342px;
  margin: auto;
}
@media screen and (min-width: 1202px) {
  .b-how-container {
    margin: auto;
    width: 1440px;
    padding: 120px 195px 0;
  }
  .b-how-div {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 63px;
  }

  .b-how-img {
    width: 68px;
    height: 68px;
  }

  .b-how-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
  }
  .b-how-image {
    width: 399px;
    height: 494px;

    margin: 0;
  }
}

.b-faq-container {
  padding: 80px 20px;
  width: 375px;
  margin: auto;
}
.b-faq-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.b-faq-item {
  border-radius: 16px;
}

.b-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.b-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.b-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1202px) {
  .b-faq-container {
    padding: 120px 350px 110px;
    width: 1440px;
    margin: auto;
  }
  .b-faq-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .b-faq-question {
    font-family: Lato;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .b-faq-answer {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.b-gallery {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}
.b-gallery-list {
  padding-top: 32px;
}

.b-gallery-item {
  width: 246px;
  height: 437p;

  overflow: hidden;
  position: relative;
  margin: 0 12px;
}

.b-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1202px) {
  .b-gallery {
    width: 1440px;
    margin: auto;
    padding: 120px 180px 0px;
  }
  .b-gallery-item {
    width: 480px;
    height: 853px;
  }

  .b-gallery-list {
    padding-top: 48px;
  }
}

.b-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}
.b-features-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.b-features-text-bold {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/features/Group\ 5.png");
  width: 112px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Original Surfer;
  font-weight: 400;
  font-size: 24px;
  margin: auto;
}

.b-features-text-bold-q {
  background-image: url("/img/features/Group\ 6.png");
}
.b-features-text-bold-w {
  background-image: url("/img/features/Group\ 7.png");
}
.b-features-text-bold-e {
  background-image: url("/img/features/Group\ 8.png");
}
.b-features-text-bold-r {
  background-image: url("/img/features/Group\ 9.png");
}
.b-features-text-bold-t {
  background-image: url("/img/features/Group\ 10.png");
}
.b-features-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}

@media screen and (min-width: 1202px) {
  .b-features-container {
    width: 1440px;
    margin: auto;
    padding: 120px 81px 0;
  }
  .b-features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .b-features-text-bold {
    width: 158px;
    height: 141px;
    font-family: Original Surfer;
    font-weight: 400;
    font-size: 40px;
  }

  .b-features-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
  }
  .b-features-item {
    width: 392px;
  }
}

.b-policy-terms-container {
  padding: 124px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.b-policy-terms-title {
  font-family: Original Surfer;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.b-policy-terms-text {
  padding-top: 20px;
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.b-policy-terms-texts {
  padding-top: 8px;
}

.b-policy-terms-text-one {
  padding-top: 20px;
}

.b-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.b-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.b-email-link {
  color: inherit;
  text-decoration: none;
}

.b-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1202px) {
  .b-policy-terms-container {
    padding: 188px 108px 60px;
    width: 1440px;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .b-policy-terms-title {
    font-family: Original Surfer;
    font-weight: 400;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .b-policy-terms-text {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 40px;
  }

  .b-policy-terms-text-one {
    padding-top: 30px;
  }

  .b-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.b-footer {
}

.b-footer-container {
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px 49px;
}

.b-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.b-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.b-footer-copyright {
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;

  text-align: center;
}

@media screen and (min-width: 1202px) {
  .b-footer-container {
    width: 1440px;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .b-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 19px;
  }

  .b-footer-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .b-footer-copyright {
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.b-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 28px;
  background: rgba(220, 241, 255, 1);

  z-index: 1000;
  display: none;
}

.b-cookie-popup-text-two {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}

.b-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.b-cookie-button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 79, 182, 1);
  width: 319px;

  border-radius: 8px;

  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Lato;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

#accept-cookies {
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.b-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1202px) {
  .b-cookie-popup-text-two {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .b-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .b-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
